body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* For progress bar */

.progress-custom {
    display: table;
    margin-bottom: 20px; /*optionally same aside margin bottom of progress class*/
    width: 100%;
}

.progress-custom .progress {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
}

.progress-custom .progress-value {
    display: table-cell;
    padding: 0 4px; /*optionally*/
    vertical-align: middle;
    width: 1%;
}

/* Footer */

#SongDisplay {
    background: #222;
    bottom: 0;
    color: #999;
    height: 170px;
    padding: 10px 10px;
    position: fixed;
}

.footer-spacer { height: 150px; }

#SongDisplay img { margin-right: 5px; }