@model Killer_App.Models.Notification.NotificationModel
@{
    ViewBag.Title = "Index";
}

<h2>Notifications</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Song</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.Notifications)
        {
            <tr>
                <td>@Html.Raw(notification.Song.LinkString())</td>
            <td>@Html.Raw(notification.Artist.LinkString())</td>
        </tr>
        }
    </tbody>
</table>